body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}


input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}


input[type=text]:focus, input[type=password]:focus {
  background-color: #8FBC8F;
  outline: none;
}

/* o estilo de todos os bot천es */
button {
  background-color: forestgreen;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Estilo exclusivo para o bot찾o de cancelar */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
  border-radius: 100px;
  border: 1px solid rgb(0, 0, 0);
}

/* tamanho dos botoes cancelar e cadastrar */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
  padding: 14px 20px;
  border-radius: 100px;
  border: 1px solid rgb(0, 0, 0);
}


.container {
  padding: 16px;
}

/* background do formulario */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: #2F4F4F;
  padding-top: 50px;
}

/* Caixa de formulario */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border-radius: 30px;
  border: 2px solid rgb(0, 0, 0);
  width: 80%; 
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* o bot찾o de fechar */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* muda o tamanho dos bot천es cancelar e cadastrar em telas pequenas */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}

h3{
    text-align: center;
    height: 100px;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
